@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Görsel</th>
        <th>Referans Adı</th>
        <th>Referans Unvanı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <th>@item.TestimonialId</th>
        <td>@item.Name</td>
        <td>@item.Title</td>
        <td><a href="/Staff/DeleteStaff/@item.TestimonialId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
        <td><a href="/Staff/UpdateStaff/@item.TestimonialId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
    </tr>
    }
</table>
<a href="/Staff/AddStaff/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Personel Girişi</a>


