@model UpdateServiceDto
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ServiceId" />
    <label>Hizmet İkonu</label>
    <input type="text" asp-for="ServiceIcon" class="form-control" />
    <span asp-validation-for="ServiceIcon" class="text-info"></span>
    <br />
    <label>Hizmet Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <button class="btn btn-primary">Hizmeti Güncelle</button>
</form>
